.App {
  text-align: center;
}

li {
  list-style-type: none;
}

.searchBar {
  border: black 5px solid;
  /* z-index:99;
  position: relative;
  min-width: 100%;
  bottom:100%; */
}

.card {
  border: black 10px solid;
  background-color: blanchedalmond;
}